@model IEnumerable<SBSClientManagement.Models.ViewModel.ViewVpnViewModel>

@{
    ViewData["Title"] = "Index";
    Layout = "/Views/Shared/_DashboardLayout.cshtml";
}
<link href="~/css/dataTables.bootstrap4.min.css" rel="stylesheet" />
<link href="~/css/responsive.bootstrap4.min.css" rel="stylesheet" />
<div class="card">
    <div class="card-header border-transparent">
        <h3 class="card-title">Vpn List</h3>

        <a href="#" onclick="CreateVpnDetails()" class="btn btn-md btn-info float-right ml-3">Create New</a>
    </div>
    <!-- /.card-header -->
    <div class="card-body p-3">
        <div class="table-responsive">
            <table class="table table-bordered table-striped" id="tblCustomers" >
                <thead>
                    <tr>
                        <th>
                            Name
                        </th>
                        <th>
                            Username
                        </th>
                        <th>
                            Password
                        </th>
                        <th>
                            ClientName
                        </th>
                        <th></th>
                        <th></th>
                        <th></th>
                    </tr>
                <tbody id="table">
                </tbody>
            </table>
        </div>
        <!-- /.table-responsive -->
    </div>
    <!-- /.card-body -->
</div>
<div class="modal fade" id="editModal">
    <div class="modal-dialog">
        <div class="modal-content">
            <div class="modal-header">
                <h3 class="modal-title">Edit Vpn Details</h3>
                <a href="#" class="close" data-dismiss="modal">&times;</a>
            </div>
            <div class="modal-body" id="editModalBody">


            </div>


        </div>

    </div>

</div>
<div class="modal fade" id="createModal">
    <div class="modal-dialog">
        <div class="modal-content">
            <div class="modal-header">
                <h3 class="modal-title">Create Vpn</h3>
                <a href="#" class="close" data-dismiss="modal">&times;</a>
            </div>
            <div class="modal-body" id="createModalBody">


            </div>


        </div>

    </div>

</div>

<div class="modal fade" id="viewModal">
    <div class="modal-dialog">
        <div class="modal-content">
            <div class="modal-header">
                <h3 class="modal-title">Vpn Details</h3>
                <a href="#" class="close" data-dismiss="modal">&times;</a>
            </div>
            <div class="modal-body" id="viewModalBody">


            </div>


        </div>

    </div>

</div>

<div class="modal fade" id="deleteModal">
    <div class="modal-dialog">
        <div class="modal-content">
            <div class="modal-header">
                <h3 class="modal-title">Delete Vpn Details</h3>
                <a href="#" class="close" data-dismiss="modal">&times;</a>
            </div>
            <div class="modal-body" id="deleteModalBody">


            </div>


        </div>

    </div>

</div>
<script src="~/js/jquery.dataTables.min.js"></script>
<script src="~/js/dataTables.bootstrap4.min.js"></script>
<script src="~/js/dependencies.min.js"></script>
<script src="~/js/jquery.datetimepicker.js"></script>
<script src="~/js/AppUtils.js"></script>
<script>
    $(function () {
        $.ajax({
            type: 'POST',
            url: 'Vpn/DataTable',
            contentType: "application/json; charset=utf-8",
            dataType: "json",
            success: OnSuccess,
            failure: function (response) {
                alert(response.d);
            },
            error: function (response) {
                alert(response.d);
            }
        });
    });
    function OnSuccess(response) {
        $("#tblCustomers").DataTable(
            {
                bLengthChange: true,
                lengthMenu: [[5, 10, -1], [5, 10, "All"]],
                bFilter: true,
                bSort: true,
                bPaginate: true,
                data: response,
                columns: [
                    { "data": "name" },
                    { "data": "username" },
                    {
                        "render": function (data, type, full, meta) {
                            return '<span class="encrypt" id="' + full.id + '"> ' + full.password + '</span> <i class="ml-2 fas fa-eye" onclick="DecriptPassword(' + full.id + ')"</i>';
                        }
                    },
                    { "data": "clientName" },
                    {
                        "render": function (data, type, full, meta) {
                            return '<a class="btn btn-info" href="#" onclick ="EditVpnDetails(' + full.id + ')">Edit</a>';
                        }
                    },
                    {
                        "render": function (data, type, full, meta) {
                            return '<a class="btn btn-info" href="#" onclick ="ViewVpnDetails(' + full.id + ')">Details</a>';
                        }
                    },
                    {
                        "render": function (data, type, full, meta) {
                            return '<a class="btn btn-danger" href="#" onclick ="DeleteVpnDetails(' + full.id + ')">Delete</a>';
                        }
                    },

                ],
            });
    };
    
    function EditVpnDetails(vpnId) {

        var url = "/Vpn/Edit?id=" + vpnId;

        $("#editModalBody").load(url, function () {
            $("#editModal").modal("show");

        })

    }
    function CreateVpnDetails() {

        var url = "/Vpn/Create";

        $("#createModalBody").load(url, function () {
            $("#createModal").modal("show");

        })

    }

    function ViewVpnDetails(vpnId) {

        var url = "/Vpn/Details?id=" + vpnId;

        $("#viewModalBody").load(url, function () {
            $("#viewModal").modal("show");

        })

    }

    function DeleteVpnDetails(vpnId) {

        var url = "/Vpn/DeleteConfirmation?id=" + vpnId;

        $("#deleteModalBody").load(url, function () {
            $("#deleteModal").modal("show");

        })

    }
</script>