@model SBSClientManagement.Models.ViewModel.UserViewModel

@{
    ViewData["Title"] = "View";
}

<div class="row">
    <div class="col-md-12">
        <form id="newValidationForm" onsubmit="return validateForm()">
            <div asp-validation-summary="ModelOnly" class="text-danger"></div>
            @Html.AntiForgeryToken()
            <div class="form-group">
                <label asp-for="Password" class="control-label"></label>
                <input asp-for="Password" class="form-control" type="password" required id="password" />
                <span asp-validation-for="Password" class="text-danger" id="error"></span>
            </div>
            <div class="form-group">
                <input type="button" value="Validate" onclick="return validateForm()" class="btn btn-primary form-control" />
            </div>
        </form>
    </div>
</div>

<script>
    var errorResponse = document.getElementById("error");
    function validateForm() {
        var name = document.getElementById("password").value;
        errorResponse.value = "";
        if (name.length > 0) {
            sendData()
        } else {
            errorResponse.innerHTML = "Input a Valid Password";
            return false;
        }
    }

    function encryption() {
        var identifyPassword = document.getElementById(encryptpassword);
        var identifyIcon = document.getElementById(encryptpassword + 'icon');
        var identifyPasswordClass = identifyPassword.classList;
        var decry = "";
        if (identifyPasswordClass.contains("encrypt")) {
            decry = SiteUtils.decrypt(identifyPassword.innerText);
            identifyPassword.classList.remove("encrypt");
            identifyPassword.classList.add("decrypt");
            identifyIcon.classList.remove("fa-lock");
            identifyIcon.classList.add("fa-unlock");
        }
        identifyPassword.innerText = decry;
    }

    function sendData() {
        var valdata = $("#newValidationForm").serialize();
        $.ajax({
            url: "/Home/ValidateUser",
            type: "POST",
            dataType: 'json',
            contentType: 'application/x-www-form-urlencoded; charset=UTF-8',
            data: valdata,
            success: function (result) {
                if (result.statusCode == 200 && result.value == true) {
                    $("#validateModel").modal("hide");
                    encryption();
                } else {
                    alertify.notify('Invalid Password', 'error', 5, function () { });
                    return false;
                }
            },
            error: function (result) {
                alertify.notify('Invalid Password', 'error', 5, function () { });
                return false;
            }
        });
    }
</script>
