@{
    ViewData["Title"] = "Home Page";
}

<div class="text-center">
    <h1 class="display-4">Welcome</h1>
    <h3>Goto Dashboard</h3>
     <a asp-action="Dashboard" class="btn btn-lg btn-primary">Dashboard</a>
</div>
