@model IEnumerable<SBSClientManagement.Models.ViewModel.ViewServerViewModel>

@{
    ViewData["Title"] = "Index";
    Layout = "/Views/Shared/_DashboardLayout.cshtml";

}
<link asp-href-include="/css/datatables/*.css" rel="stylesheet" />
<div class="card">
    <div class="card-header border-transparent">
        <h3 class="card-title">Server List</h3>
        <a href="#" onclick="CreateServerDetails()" class="btn btn-md btn-info float-right ml-3">Create New</a>

    </div>
    <!-- /.card-header -->
    <div class="card-body p-3">
        <div class="table-responsive">
            <table class="table table-bordered table-striped" id="tblCustomers">
                <thead>
                    <tr>
                        <th>
                            Name
                        </th>
                        <th>
                            Username
                        </th>
                        <th>
                            Password
                        </th>
                        <th>
                            Categories
                        </th>
                        <th>
                            Client Name
                        </th>
                        <th></th>
                        <th></th>
                        <th></th>
                    </tr>
                </thead>
                <tbody id="table">
                    
                </tbody>
            </table>
        </div>
        <!-- /.table-responsive -->
    </div>
    <!-- /.card-body -->
</div>

<div class="modal fade" id="editModal">
    <div class="modal-dialog">
        <div class="modal-content">
            <div class="modal-header">
                <h3 class="modal-title">Edit Server Details</h3>
                <a href="#" class="close" data-dismiss="modal">&times;</a>
            </div>
            <div class="modal-body" id="editModalBody">


            </div>


        </div>

    </div>

</div>
<div class="modal fade" id="createModal">
    <div class="modal-dialog">
        <div class="modal-content">
            <div class="modal-header">
                <h3 class="modal-title">Create Server</h3>
                <a href="#" class="close" data-dismiss="modal">&times;</a>
            </div>
            <div class="modal-body" id="createModalBody">


            </div>


        </div>

    </div>

</div>

<div class="modal fade" id="viewModal">
    <div class="modal-dialog">
        <div class="modal-content">
            <div class="modal-header">
                <h3 class="modal-title">Server Details</h3>
                <a href="#" class="close" data-dismiss="modal">&times;</a>
            </div>
            <div class="modal-body" id="viewModalBody">


            </div>


        </div>

    </div>

</div>

<div class="modal fade" id="deleteModal">
    <div class="modal-dialog">
        <div class="modal-content">
            <div class="modal-header">
                <h3 class="modal-title">Delete Server Details</h3>
                <a href="#" class="close" data-dismiss="modal">&times;</a>
            </div>
            <div class="modal-body" id="deleteModalBody">


            </div>


        </div>

    </div>

</div>
<div class="modal fade" id="validateModel">
    <div class="modal-dialog">
        <div class="modal-content">
            <div class="modal-header">
                <h3 class="modal-title">Validate Your Password</h3>
                <a href="#" class="close" data-dismiss="modal">&times;</a>
            </div>
            <div class="modal-body" id="validateModelBody">


            </div>


        </div>

    </div>

</div>
<script asp-src-include="/js/datatables/*.js"></script>
<script asp-src-include="/js/encryption/*.js"></script>
<script>
    //DataTable
    $(function () {
        $.ajax({
            type: 'GET',
            url: 'Server/Search',
            contentType: "application/json; charset=utf-8",
            dataType: "json",
            success: OnSuccess,
            failure: function (response) {
                alert(response.d);
            },
            error: function (response) {
                alert(response.d);
            }
        });
    });

    function OnSuccess(response) {
        $("#tblCustomers").DataTable(
            {
                bLengthChange: true,
                lengthMenu: [[5, 10, -1], [5, 10, "All"]],
                bFilter: true,
                bSort: true,
                bPaginate: true,
                data: response,
                columns: [
                    { "data": "name" },
                    {
                        "render": function (data, type, full, meta) {
                            return '<span  class="copy" data-clipboard-text="' + full.username + '">' + full.username + '</span>';
                        }
                    },
                    {
                        "render": function (data, type, full, meta) {
                            return '<span class="encrypt" id="' + full.id + '"> ' + full.password + '</span> <i class="ml-2 fas fa-eye" onclick="DecriptPassword(' + full.id + ')"</i>';
                        }
                    },
                    {
                        "render": function (data, type, full, meta) {
                            let cat = full.categories == '1' ? "Live"
                                : full.categories == '0' ? "Test"
                                    : full.categories == '2' ? "DR" : "Live";
                            let badge = cat == "Live" ? "badge-success"
                                : cat == "Test" ? "badge-warning"
                                    : cat == "DR" ? "badge-danger" : "badge-info";
                            return '<span  class="badge ' + badge + '">' + cat + '</span>';
                        }
                    },
                    {
                        "data": "clientName"
                    },
                    {
                        "render": function (data, type, full, meta) {
                            return '<a class="btn btn-xs btn-info" href="#" onclick ="EditServerDetails(' + full.id + ')">Edit</a>';
                        }
                    },
                    {
                        "render": function (data, type, full, meta) {
                            return '<a class="btn btn-xs btn-info" href="#" onclick ="ViewServerDetails(' + full.id + ')">Details</a>';
                        }
                    },
                    {
                        "render": function (data, type, full, meta) {
                            return '<a class="btn btn-xs btn-danger" href="#" onclick ="DeleteServerDetails(' + full.id + ')">Delete</a>';
                        }
                    },

                ],
            });
    };


    function EditServerDetails(serverId) {

        var url = "/Server/Edit?id=" + serverId;

        $("#editModalBody").load(url, function () {
            $("#editModal").modal("show");

        })

    }
    function CreateServerDetails() {

        var url = "/Server/Create";

        $("#createModalBody").load(url, function () {
            $("#createModal").modal("show");

        })

    }

    function ViewServerDetails(serverId) {

        var url = "/Server/Details?id=" + serverId;

        $("#viewModalBody").load(url, function () {
            $("#viewModal").modal("show");

        })

    }

    function DeleteServerDetails(serverId) {

        var url = "/Server/DeleteConfirmation?id=" + serverId;

        $("#deleteModalBody").load(url, function () {
            $("#deleteModal").modal("show");

        })
    }

</script>