@model SBSClientManagement.Models.ViewModel.CreateClientViewModel


<div class="row">
    <div class="col-md-12">
        <form id="newClientForm" onsubmit="return validateForm()">
            <div asp-validation-summary="ModelOnly" class="text-danger"></div>
            @Html.AntiForgeryToken()
            <div class="form-group">
                <label asp-for="Name" class="control-label"></label>
                <input asp-for="Name" class="form-control" id="name" required />
                <span asp-validation-for="Name" class="text-danger" id="error"></span>
            </div>

            <div class="form-group">
            </div>
        </form>
    </div>
</div>

<script>
    let error = document.getElementById("error");
    function validateForm() {
        let name = document.getElementById("name").value;
        error.value = "";
        if (name.length > 0) {
            checkClient(name);
        } else {
            error.innerHTML = "Input Client Name";
            return false;
        }
    }
    let button = document.getElementById("btnSubmit");
    $(button).click(function (e) {
        let name = document.getElementById("name").value;
        error.value = "";
        if (name.length > 0) {
            
            checkClient(name);
        } else {
            error.innerHTML = "Input Client Name";
            return false;
        }

    });
    function checkClient(clientName) {
        $.ajax({
            url: "/Client/ClientExist/?clientName=" + clientName,
            type: "GET",
            success: function (result) {
                if (result == false) {
                    sendData();
                } else {
                    error.innerHTML = "Client Name Already Exist";
                    return false;
                }
            }
        })
    }
    function sendData() {
        var valdata = $("#newClientForm").serialize();
        console.log(valdata);
        $.ajax({
            url: "/Client/Create",
            type: "POST",
            dataType: 'json',
            contentType: 'application/x-www-form-urlencoded; charset=UTF-8',
            data: valdata,
            success: function (result) {
                if (result.statusCode == 200) {
                    location.reload();
                } else {
                    error.innerHTML = "Error Saving" + result.value;
                    return false;
                }
            },
            error: function (result) {
                error.innerHTML = "Error Saving" + result.value;
                return false;
            }
        });
    }
</script>